<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap rescap mp">
  <Identity Name="21227NicolaiHenriksen.SimpleClipboardManager" ProcessorArchitecture="x64" Version="1.8.0.0" Publisher="CN=786B4C61-591E-4C79-AA02-E3FF377CBEB8" />
  <mp:PhoneIdentity PhoneProductId="8192dabb-fcf6-4a62-bba6-799f81dd3851" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Simple Clipboard Manager</DisplayName>
    <PublisherDisplayName>Nicolai Henriksen</PublisherDisplayName>
    <Logo>images\Logo.png</Logo>
  </Properties>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
  </Dependencies>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
  <Applications>
    <Application Id="SimpleClipboardManager" Executable="win32\SimpleClipboardManager.exe" EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements DisplayName="Simple Clipboard Manager" Description="Simplifies copy/pasting multiple text snippets" BackgroundColor="#777777" Square150x150Logo="images\Logo.150x150.png" Square44x44Logo="images\Logo.44x44.png">
        <uap:DefaultTile Square310x310Logo="images\LargeTile.png" Wide310x150Logo="images\WideTile.png" Square71x71Logo="images\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="images\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="win32\SimpleClipboardManager.exe" />
        <desktop:Extension Category="windows.startupTask" Executable="win32\SimpleClipboardManager.exe" EntryPoint="Windows.FullTrustApplication">
          <desktop:StartupTask TaskId="SimpleClipboardManagerStartupTask" Enabled="true" DisplayName="Simple Clipboard Manager" />
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>